.app_title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.app_logo {
  width: 50px;
  border-radius: 10px;
}

.app_title > h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #363636;
}

.app_search {
  position: absolute;
  top: 1rem;
  right: 1%;
  width: 300px;
  z-index: 10;
  height: 45px;
}

.app_search input {
  border: none;
  border-radius: 25px;
  padding: 10px 10px 10px 20px;
  text-align: left;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: 'Raleway', sans-serif;
  color: #363636 !important;
  font-size: 24px;
  background-color: white;
}

.app_searchLogo {
  position: relative;
  left: 265px;
  bottom: 35px;
  color: #363636 !important;
  background-color: white;
  border-radius: 10px;
}

.app_locateButton {
  position: absolute;
  top: 1rem;
  left: 75%;
  width: 47px;
  height: 47px;
  color: #363636 !important;
  transform: translateX(-50%);
  background-color: white;
  z-index: 9;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.app_locateButton:hover {
  cursor: pointer;
  background-color: #ff7070;
}

.app_locateIcon {
  position: relative;
  width: 45px !important;
  height: 45px !important;
  right: 5px;
}
