.app_title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.app_logo {
  width: 50px;
  border-radius: 10px;
}

.app_title > h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #363636;
}

.app_search {
  position: absolute;
  top: 1rem;
  right: 1%;
  width: 300px;
  z-index: 10;
  height: 45px;
}

.app_search input {
  border: none;
  border-radius: 25px;
  padding: 10px 10px 10px 20px;
  text-align: left;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: "Raleway", sans-serif;
  color: #363636 !important;
  font-size: 24px;
  background-color: white;
  outline: none;
}

.app_search > div {
  height: 100%;
}

.app_searchLogo {
  position: relative;
  left: 265px;
  bottom: 35px;
  color: #363636 !important;
  background-color: white;
  border-radius: 10px;
}

.app_locateButton {
  position: absolute;
  top: 1rem;
  left: 75%;
  width: 47px;
  height: 47px;
  color: #363636 !important;
  transform: translateX(-50%);
  background-color: white;
  z-index: 9;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.app_locateButton:hover {
  cursor: pointer;
  background-color: #f74343;
}

.app_locateIcon {
  position: relative;
  width: 45px !important;
  height: 45px !important;
  right: 5px;
}

.vaccine_change_wrapper {
  margin: 16px 0;
}

.vaccine_tweets_table {
  width: 100%;
  border-spacing: 8px;
}

.vaccine_tweets_table > tr > td {
  background-color: #eee;
  border-radius: 5px;
  vertical-align: top;
  width: 50%;
}

.vaccine_tweets_table > tr > td > div {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-align: left;
}

.tweet-header {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
}

.tweet-header > img {
  border-radius: 50%;
  margin-right: 5px;
}

.tweet-header > table {
  margin-left: 8px;
  margin-top: 2px;
}

.tweet-content {
  padding: 8px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: 10px auto;
  width: 600px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #f74343;
  border-radius: 25px;
}

progress[value]::-webkit-progress-value {
  background-color: #b7eb60;
  border-radius: 25px 0 0 25px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
